/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */
body{
    font-family: 'Roboto', sans-serif;
    color: #23272a;
}

.flex{
    display: flex;
}

.navigation{
    background-color: #255ee9;
    height: 80px;
}

.container{
    width: 70%;
    margin: auto;
}

.logo{
    flex-basis: 15%;
    align-items: center;
}

.links{
    flex-basis: 70%;
    color: #FFF;
}

ul{
    list-style-type: none;
    justify-content: center;
    height: 100%;
    align-items:center;
}

li{
    font-weight: 400;
    margin: 0 1.5rem;
}

.login{
    flex-basis: 15%;
    text-align: right;
}

.btn{
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border: none;
    background-color: #FFF;
    font-weight: 600;
    font-size: 16px;
}

.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.header-text{
    padding: 120px 0;
}

h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

div.header-text p{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 500;
}

.btn-big{
    padding: 16px 32px;
}

.btn-bg-dark{
    background-color: #23272a;
    color: #FFF;
    margin-left: 1rem;
}

.header-btn{
    align-items: center;
    justify-content: center;
    margin: 2rem 0 4rem;
}

article{
    margin: 0px 0;
}

.body-img{
    width: 65%;
}

.img-text{
    width: 35%;
    padding: 1.5rem 0;
}

h2{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

p{
    font-size: 25px;
    font-weight: 500;
    padding-right: 2rem;
    line-height: 2.5rem;
}

.reverse{
    flex-direction: row-reverse;
}

.border{
    border: 1px solid #000;
}

.column{   
    flex-direction: column;
    align-items: center;
}

.big-image{
    width:100%;
}

.big-article{
    align-items: center;
}

.text-white{
    color: #FFF;
}

.odd{
    padding: 150px 0;
}

.even{
    padding: 150px 0;
    background-color: #f6f6f6;
}

footer{
    background-color: #23272a;
    padding-top: 4rem;
}

.footer-top{
    width: 25%;

}

.footer-menu{
    width: 75%;
    align-items: stretch;
    margin: 1rem 0 2rem;
}

.inner-rectangle{
    border-color: #FFF;
    width: 25%;
    align-items: stretch;
}

.footer-bottom{
    border-top: 1px solid #8ea1e1;
    padding-top: 2.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
    align-items: center;
}

.btn-bg-lila{
    background-color: #8ea1e1;
    color: #FFF;
}

.svg-even {
    transform: rotate(180deg);
}

img{
    display: flex;
}

div.body-img{
    justify-content: end;
}

.single-column{
    text-align: center;
}

div.column button{
    max-width: 300px;
}

h3.single-column{
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2rem;
    padding: 5rem 7rem;
}

p.side-footer{
    font-size: 2.5rem;
    font-weight: 600;
    color: #7289da;
    margin-bottom: 1rem;
}

.selector{
    justify-content: start;
}

.flag{
    width:35px;
}

.language{
    font-weight: 500;
    color: #FFF;
    margin-left: 0.1rem;
}

.selector{
    justify-content: 
    start;
}

footer ul,
footer li{
    margin-bottom: 0.5rem;
    font-weight: 500;
    color:#FFF;
}

footer ul li:nth-of-type(1){
    color:#7289da;
}

.footer-menu-section{
    width: 25%;
    
}

i{
    color: #fff;
    margin-top: 1rem;
    margin-right: 1rem;
}