/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */
body{
    font-family: 'Roboto', sans-serif;
    color: #23272a;    
}

h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.btn{
    border: none;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
}

.btn-small{
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: 104%;
}

.navbar{
    height: 80px;
    background-color: #255ee9;
}

nav{
    justify-content: center;
    font-weight: 400;
}

p{
    font-size: 1.4rem;
    text-align: center;
    line-height: 2rem;
    font-weight: 500;
}

.flexbox{
    display: flex;
}

.reverse{
    flex-direction: row-reverse;
}

.header-btn{
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.btn-bg-dark{
    background-color: #23272a;
    color: #FFF;
    margin-left: 1rem;
}

.logo{
    flex-basis: 15%;
    height: 41px;
}

.border{
    border: 1px solid #000;
}

.login{
    flex-basis: 15%;
    justify-content: end;
}

.links{
    flex-basis: 70%;
    color: #FFF;
}

.container{
    width: 75%;
    margin: auto;
}

ul{
    list-style-type: none;
    justify-content: center;
    height: 100%;
    align-items:center;
}

li{   
    padding: 1rem;
}

.text-white{
    color: #FFF;
}

.carrousel{

    width: 100%;
    height: 630px;
    justify-content: center;
    align-items: center;

}

.header-text{
    width: 45%;
}

.odd{
    padding: 3rem 0;
}

.even{
    padding:3rem 0;
    background-color: #d3d3d3;
}

.rectangle-blue{
    background-color: #1e90ff;

    width: 70%;
}

.square-pink{
    background-color: #ffc0cb;
    height:300px;
    width:30%;
}

.green-big-rectangle{
    width:100%;

    background-color: #228b22;
}

footer{
    background-color: #23272a;
}

.pink-rectangle{
    width: 25%;
    height: 300px;
    background-color: #f08080;
    margin: 1rem 0 2rem;
}

.aquamarine-rectangle{
    width: 75%;
    align-items: stretch;
    background-color: #20b2aa;
    margin: 1rem 0 2rem;
}

.inner-rectangle{
    border-color: #FFF;
    width: 25%;
    align-items: stretch;
}

.footer-bar{
    margin-top: 1rem;
    height: 3rem;
    justify-content: space-between;
    background-color: #7fffd4;
    align-items: center;
}

.footer-containers{
    padding:0.3rem;
    background-color: #ffb6c1;
}