/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */
body{
    font-family: 'Roboto', sans-serif;
    color: #23272a;    
}

.flex{
    display: flex;
}

.navigation{
    background-color: #255ee9;
    height: 80px;
}

.container{
    width: 70%;
    margin: auto;
}

.logo{
    flex-basis: 15%;
    align-items: center;
}

.links{
    flex-basis: 70%;
    color: #FFF;
}

ul{
    list-style-type: none;
    justify-content: center;
    height: 100%;
    align-items:center;
}

li{
    font-weight: 400;
    margin: 0 1.5rem;
}

.login{
    flex-basis: 15%;
    text-align: right;
}

.btn{
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border: none;
    background-color: #FFF;
    font-weight: 600;
    font-size: 16px;
}

.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.header-text{
    padding: 120px 0;
}

h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

div.header-text p{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 500;
}

.btn-big{
    padding: 16px 32px;
}

.btn-bg-dark{
    background-color: #23272a;
    color: #FFF;
    margin-left: 1rem;
}

.header-btn{
    align-items: center;
    justify-content: center;
    margin: 2rem 0 4rem;
}

article{
    margin: 0px 0;
}

.body-img{
    width: 65%;
}

.img-text{
    width: 35%;
    padding: 1.5rem 0;
}

h2{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

p{
    font-size: 25px;
    font-weight: 500;
    padding-right: 2rem;
    line-height: 2.5rem;
}

.reverse{
    flex-direction: row-reverse;
}

.border{
    border: 1px solid #000;
}

.column{   
    flex-direction: column;
}

.big-image{
    width:100%;
}

.big-article{

}

.text-white{
    color: #FFF;
}

.odd{
    padding: 3rem 0;
}

.even{
    padding:3rem 0;
    background-color: #f6f6f6;
}


.green-big-rectangle{
    width:100%;
    background-color: #228b22;
}

footer{
    background-color: #23272a;
}

.footer-top{
    width: 25%;
    background-color: #f08080;
    margin: 1rem 0 2rem;
}

.aquamarine-rectangle{
    width: 75%;
    align-items: stretch;
    background-color: #20b2aa;
    margin: 1rem 0 2rem;
}

.inner-rectangle{
    border-color: #FFF;
    width: 25%;
    align-items: stretch;
}

.footer-bottom{
    border-top: 1px solid #8ea1e1;
    padding-top: 2.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
    align-items: center;
}

.btn-bg-lila{
    background-color: #8ea1e1;
    color: #FFF;
}

